html {
    background-color: #5e6b78;
}

body {
    background-color: #708090;
    width: auto;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 3px solid #5e6b78
}

/*SOBRE A PÁGINA INDEX*/

.lado {
    display: flex;
}

.esquerda,
.direita {
    border: 3px solid #5e6b78;
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 200px;
}

.esquerda {
    width: auto;
    max-width: 200px;
}

.menu {
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 800px;
}

.centro {
    flex: 2;
}

.topo,
.corpo,
.rodape {
    border: 3px solid #5e6b78;
    text-align: center;
    padding: 20px;
}

.topo {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.logo {
    width: 250px;
}

.nomeblog {
    font-size: 200px;
}

.corpo {
    height: 1000px;
    padding: 100px;
    height: auto;
}

.corpo h1 {
    font-size: 50px;
}

.bloginicio p {
    font-size: 50px;
    text-align: justify;
}

.rodape p {
    font-size: 50px;
}

/*SOBRE A PÁGINA TODOS OS POSTS*/

.ToP-corpo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px;
    margin: auto;
    border: 3px solid #5e6b78;
    text-align: center;
    align-items: center;
}

.Coraline,
.Mochileiros,
.RevBicho,
.Cafe,
.CodDaVinci,
.NaoDefinido {
    border: 3px solid #5e6b78;
    margin: 200px;
    display: flex;
    font-size: 40px;

}

.nomepag {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.ToP-titulo {
    font-size: 150px;
}