* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding-top: 70px;
    background-color: #f5f5f5;
}

/*SOBRE A PÁGINA INDEX*/
/*BASE*/

.topo-fixo {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
    z-index: 1000;
}

.container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 40px 0px;
    display: flex;
    gap: 20px;
    background-color: #eaeaea;
}

.conteudo-principal {
    flex: 7;
    padding: 20px;
    border-radius: 8px;
}

.conteudo-lateral {
    flex: 3;
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 8px;
}


/*SOBRE A PÁGINA INDEX*/
/*ESPECÍFICO*/

.ultimopost {
    background-color: #f5f5f5;
    margin: 40px 40px;
    padding: 40px;
}

.inf-ultimopost {
    text-align: center;
}

.previa {
    margin: 40px 40px;
}

.previa p {
    margin: 20px 0px;
    font-size: 25px;
    text-align: justify;
}

.previa button {
    background-color: #f5f5f5;
    color: #2c3e50;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: auto;
}

.previa button:hover {
    background-color: #2c3e50;
    color: #f5f5f5;
}

.sugestoes {
    background-color: #f5f5f5;
    margin: 40px 40px;
    padding: 40px;
}

.inf-sugestao {
    text-align: center;
}

.sugestao {
    margin: 40px 40px;
}

.sugestao p {
    margin: 20px 0px;
    font-size: 25px;
    text-align: justify;
}

.sugestao button {
    background-color: #f5f5f5;
    color: #2c3e50;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: auto;
}

.sugestao button:hover {
    background-color: #2c3e50;
    color: #f5f5f5;
}

/*ESPECIFICAÇÕES AUTOR*/

.autor {
    background-color: #f5f5f5;
    text-align: center;
    padding: 40px;
}

.img-autor {
    width: 250px;
    border-radius: 100%;
}

/*SOBRE A PÁGINA TODOS OS POSTS*/

.ToP-corpo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px;
    margin: auto;
    border: 3px solid #5e6b78;
    text-align: center;
    align-items: center;
}

.Coraline,
.Mochileiros,
.RevBicho,
.Cafe,
.CodDaVinci,
.NaoDefinido {
    border: 3px solid #5e6b78;
    margin: 200px;
    display: flex;
    font-size: 40px;

}

.nomepag {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.ToP-titulo {
    font-size: 150px;
}