html {
    background-color: #708090;
}

body {
    background-color: #708090;
    width: auto;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 3px solid #5e6b78
}

.menu {
    border: 5px solid #5e6b78;
    text-align: center;
    padding: auto;
    display: flex;
}

.botao-1,
.botao-2,
.botao-3,
.botao-4,
.botao-5 {
    flex: 1;
    border: 5px solid #5e6b78;
    text-align: center;
    padding: 20px;
}

.link-home,
.link-empresas,
.link-servicos,
.link-contatos,
.link-fale {
    width: 100px;
}

.livro-1,
.livro-2,
.livro-3,
.livro-4,
.livro-5 {
    width: 200px;
}


.topo {
    border: 5px solid #5e6b78;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.ladolado {
    display: flex;
    justify-content: space-between;
    height: 500px;
}

.esquerda {
    /* dentro de ladolado */
    border: 5px solid #5e6b78;
    text-align: center;
    padding: 20px;
    flex: 1;
}

.autor-img {
    width: 100%;
    max-width: 200px;
}

.centro {
    /* dentro de ladolado */
    border: 3px solid #5e6b78;
    text-align: center;
    padding: 20px;
    flex: 2;
}

.direita {
    /* dentro de ladolado */
    border: 3px solid #5e6b78;
    text-align: center;
    padding: 20px;
    flex: 1;
}

.rodape {
    border: 5px solid #5e6b78;
    text-align: center;
    padding: 20px;
}


.a0 {
    display: flex;
}

.a1,
.a3 {
    flex: 0 0 100px;
    border: 3px solid #5e6b78;
    text-align: center;
    padding: 20px;
    width: 50px;
}

.a1 {
    display: flex;
}

.a2 {
    flex: 2;
}

.a2-1,
.a2-2,
.a2-3 {
    border: 3px solid #5e6b78;
    text-align: center;
}

.a2-1 {
    height: 250px;
}

.a2-2 {
    height: 1000px;
}

.a1-1 {
    display: flex;
}